<div class="">
    <div class="contact">
        <h2>@ViewData["Title"]</h2>
        <address>
            <strong>E-mail:</strong> <a href="mailto:jean.ruffato@gmail.com">jean.ruffato@gmail.com</a><br />
            <strong>Celular:</strong> (19)98307-1947
        </address>
    </div>
</div>