<!-- Menu de vulnerabilidades -->
<div class="row">
    <div class="find_vul">
        <div class="vul_list_head">
            <span class="font"><i class="header_menu fas fa-bug"></i>Vulnerabilidades Encontradas</span>
            <span class="font pointer gear"><i class="header_menu fas fa-cogs"></i></span>
        </div>

        <div class="vul_list">
            <ul class="top font_vul">
                <li>
                    <b>Wrap-around Error: </b>Wrap around errors occur whenever a value is incremented past the maximum value for its type and therefore "wraps around" to a very small, negative, or undefined value.
                </li>
                
                <li>
                    <b>Incorrect Calculation of Buffer Size: </b>The software does not correctly calculate the size to be used when allocating a buffer, which could lead to a buffer overflow.
                </li>
                
                <li>
                    <b>Incorrect Calculation of Multi-Byte String Length: </b>The software does not correctly calculate the length of strings that can contain wide or multi-byte characters.
                </li>
                <li>
                    <b>Wrap-around Error: </b>Wrap around errors occur whenever a value is incremented past the maximum value for its type and therefore "wraps around" to a very small, negative, or undefined value.
                </li>
                
                <li>
                    <b>Incorrect Calculation of Buffer Size: </b>The software does not correctly calculate the size to be used when allocating a buffer, which could lead to a buffer overflow.
                </li>
                
                <li>
                    <b>Incorrect Calculation of Multi-Byte String Length: </b>The software does not correctly calculate the length of strings that can contain wide or multi-byte characters.
                </li>
                <li>
                    <b>Wrap-around Error: </b>Wrap around errors occur whenever a value is incremented past the maximum value for its type and therefore "wraps around" to a very small, negative, or undefined value.
                </li>
                
                <li>
                    <b>Incorrect Calculation of Buffer Size: </b>The software does not correctly calculate the size to be used when allocating a buffer, which could lead to a buffer overflow.
                </li>
                
                <li>
                    <b>Incorrect Calculation of Multi-Byte String Length: </b>The software does not correctly calculate the length of strings that can contain wide or multi-byte characters.
                </li>
            </ul>
        </div>
    </div>

    <div class="seri_vul">
        <div class="top_vul_head">
            <span class="font"><i class="header_menu fas fa-bug"></i>Vulnerabilidades Graves</span>
            <span class="font pointer gear"><i class="header_menu fas fa-cogs"></i></span>
        </div>
     
        <div class="top_vul">
            <ul class="top font_vul">
                <li>
                    <b>@ViewData["Vul1"]: </b>Wrap around errors occur whenever a value is incremented past the maximum value for its type and therefore "wraps around" to a very small, negative, or undefined value.
                </li>
                
                <li>
                    <b>@ViewData["Vul2"]: </b>The software does not correctly calculate the size to be used when allocating a buffer, which could lead to a buffer overflow.
                </li>
                
                <li>
                    <b>Incorrect Calculation of Multi-Byte String Length: </b>The software does not correctly calculate the length of strings that can contain wide or multi-byte characters.
                </li>
                <li>
                    <b>Wrap-around Error: </b>Wrap around errors occur whenever a value is incremented past the maximum value for its type and therefore "wraps around" to a very small, negative, or undefined value.
                </li>
                
                <li>
                    <b>Incorrect Calculation of Buffer Size: </b>The software does not correctly calculate the size to be used when allocating a buffer, which could lead to a buffer overflow.
                </li>
                
                <li>
                    <b>Incorrect Calculation of Multi-Byte String Length: </b>The software does not correctly calculate the length of strings that can contain wide or multi-byte characters.
                </li>
                <li>
                    <b>Wrap-around Error: </b>Wrap around errors occur whenever a value is incremented past the maximum value for its type and therefore "wraps around" to a very small, negative, or undefined value.
                </li>
                
                <li>
                    <b>Incorrect Calculation of Buffer Size: </b>The software does not correctly calculate the size to be used when allocating a buffer, which could lead to a buffer overflow.
                </li>
                
                <li>
                    <b>Incorrect Calculation of Multi-Byte String Length: </b>The software does not correctly calculate the length of strings that can contain wide or multi-byte characters.
                </li>
            </ul>
        </div>
    </div>
    <div class="crud_vul">
        <div class="table_crud_head">
            <span class="font"><i class="header_menu fas fa-bug"></i>Cadastrar Vulnerabilidades</span>
            <span class="font pointer gear"><i class="header_menu fas fa-cogs"></i></span>
        </div>

        <div class="table_crud">
            <ul class="top font_vul">
                <li>
                    <b>Wrap-around Error: </b>Wrap around errors occur whenever a value is incremented past the maximum value for its type and therefore "wraps around" to a very small, negative, or undefined value.
                </li>
                
                <li>
                    <b>Incorrect Calculation of Buffer Size: </b>The software does not correctly calculate the size to be used when allocating a buffer, which could lead to a buffer overflow.
                </li>
                
                <li>
                    <b>Incorrect Calculation of Multi-Byte String Length: </b>The software does not correctly calculate the length of strings that can contain wide or multi-byte characters.
                </li>
                <li>
                    <b>Wrap-around Error: </b>Wrap around errors occur whenever a value is incremented past the maximum value for its type and therefore "wraps around" to a very small, negative, or undefined value.
                </li>
                
                <li>
                    <b>Incorrect Calculation of Buffer Size: </b>The software does not correctly calculate the size to be used when allocating a buffer, which could lead to a buffer overflow.
                </li>
                
                <li>
                    <b>Incorrect Calculation of Multi-Byte String Length: </b>The software does not correctly calculate the length of strings that can contain wide or multi-byte characters.
                </li>
                <li>
                    <b>Wrap-around Error: </b>Wrap around errors occur whenever a value is incremented past the maximum value for its type and therefore "wraps around" to a very small, negative, or undefined value.
                </li>
               
                <li>
                    <b>Incorrect Calculation of Buffer Size: </b>The software does not correctly calculate the size to be used when allocating a buffer, which could lead to a buffer overflow.
                </li>
                
                <li>
                    <b>Incorrect Calculation of Multi-Byte String Length: </b>The software does not correctly calculate the length of strings that can contain wide or multi-byte characters.
                </li>
            </ul>
        </div>
    </div>
</div>