.header {
    /* Configurações de estilo da barra superior */
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    height: 40px;
    background-color: rgba(5, 5, 5, 0.884);
}

.body {
    /* Configurações de estilo do corpo da página */
    padding-top: 35px;
    background-color: rgb(61, 80, 91); /* #263544*/
    min-height: 100%;
    position: absolute;
    width: 100%;
    margin-top: 0px;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    -webkit-border-radius: 0px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgb(170, 169, 169);
    -webkit-border-radius: 0px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #666;
    -webkit-border-radius: 0px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #666;
    -webkit-border-radius: 1px;
}

.font {
    /* Configurações de estilo da fonte usada na página */
    outline: none;
    font-family: monospace;
    font-size: 12px;
    color: rgb(255, 255, 255);    
}

.header_menu {
    /* Configurações de estilo dos menus e submenus da barra superior */
    padding-left: 12px;
    padding-right: 3px;
}

.logout {
    /* Configurações de estilo do menu de logout */
    padding-top: 6px;
    padding-right: 20px;
    float: right;
}


.menu_spacing {
    /* Espaçamento entre os menus da barra superior */
    margin-right: 4px;
}

.pointer {
    /* Configurações relacionadas ao ponteiro do mouse */
    cursor: pointer;
}

.notification {
    /* Configurações da menu de notificação */
    padding-left: 5px;
}

.active {
    /* Muda cor do link na barra superior */
    outline: none;
    font-family: monospace;
    font-size: 12px;
    font-weight: bold;
    color: rgb(170, 169, 169);
}

.side_bar {
    /* Configurações do menu lateral */
    padding-left: 2px;
    padding-right: 15px;
}

.top {
    padding-top: 5px;
}

.contact {
    margin-top: 15px;
    padding-left: 10%;
    position:relative;
}
