.find_vul {
    margin-top: 25px;
    margin-left: 15px;
    width: 55%;
}

.seri_vul {
    margin-top: 25px;
    margin-left: 15px;
    width: 40%;
}

.crud_vul {
    margin-top: 40px;
    margin-left: 15px;
    width: 96%;
}

.gear {
    /*  Posicionamento do menu de configuração */
    float: right;
    padding-top: 7px;
    padding-right: 8px;
}

.pointer {
    /* Configurações relacionadas ao ponteiro do mouse */
    cursor: pointer;
}

.header_menu {
    /* Configurações de estilo dos menus e submenus da barra superior */
    padding-left: 12px;
    padding-right: 3px;
}

.top {
    padding-top: 10px;
}

.top_vul_head {
    /*  Menu que lista as vulnerabilidades */
    background-color: rgb(46, 44, 44);
    margin-right: 30px;
    min-height: 28px;
    width: 100%;
    border-style: solid;
    border-width: 0.3px;
    border-color: rgba(2, 2, 2, 0.24);
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgb(75, 75, 74);
    -webkit-box-shadow: 1px 1px 1px rgb(75, 75, 74);
    -moz-box-shadow: 1px 1px 1px rgb(75, 75, 74);
    overflow: auto;
}

.top_vul {
    height: 250px;
    width: 100%;
    margin-right: 30px;
    border-radius: 1px;
    background-color: rgb(234, 234, 234);
    box-shadow: 1px 1px 1px rgb(75, 75, 74);
    -webkit-box-shadow: 1px 1px 1px rgb(75, 75, 74);
    -moz-box-shadow: 1px 1px 1px rgb(75, 75, 74);
    padding-right: 5px;
    overflow: auto;
}

.vul_list_head {
    /*  Menu que lista as vulnerabilidades */
    background-color: rgb(46, 44, 44);
    margin-right: 30px;
    min-height: 28px;
    width: 100%;
    border-style: solid;
    border-width: 0.3px;
    border-color: rgba(2, 2, 2, 0.24);
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgb(75, 75, 74);
    -webkit-box-shadow: 1px 1px 1px rgb(75, 75, 74);
    -moz-box-shadow: 1px 1px 1px rgb(75, 75, 74);
}


.vul_list {
    /* Menu que mostra a lista de vulnerabilidades */
    height: 250px;
    width: 100%;
    margin-right: 30px;
    border-radius: 1px;
    background-color: rgb(234, 234, 234);
    box-shadow: 1px 1px 1px rgb(75, 75, 74);
    -webkit-box-shadow: 1px 1px 1px rgb(75, 75, 74);
    -moz-box-shadow: 1px 1px 1px rgb(75, 75, 74);
    padding-right: 0px;
    overflow: auto;
}

.table_crud_head {
    /*  Menu que lista as vulnerabilidades */
    background-color: rgb(46, 44, 44);
    margin-right: 30px;
    min-height: 28px;
    width: 100%;
    border-style: solid;
    border-width: 0.3px;
    border-color: rgba(2, 2, 2, 0.24);
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgb(75, 75, 74);
    -webkit-box-shadow: 1px 1px 1px rgb(75, 75, 74);
    -moz-box-shadow: 1px 1px 1px rgb(75, 75, 74);
}

.table_crud {
    /* Menu que mostra a lista de vulnerabilidades */
    height: 350px;
    width: 100%;
    margin-right: 30px;
    border-radius: 1px;
    background-color: rgb(234, 234, 234);
    box-shadow: 1px 1px 1px rgb(75, 75, 74);
    -webkit-box-shadow: 1px 1px 1px rgb(75, 75, 74);
    -moz-box-shadow: 1px 1px 1px rgb(75, 75, 74);
    padding-right: 0px;
    overflow: auto;
}

.font {
    /* Configurações de estilo da fonte usada na página */
    font-family: monospace;
    font-weight: bold;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.font_vul {
    /* Configurações de estilo da fonte usada na página */
    font-family: monospace;
    font-size: 13px;
    color: rgb(22, 21, 21);
    overflow: auto;
}